header {
    text-align: center;
    margin: 20px;
}
body {
    background-image: url(https://res.cloudinary.com/dcrioc0sw/image/upload/v1620066363/raul-gonzalez-escobar-ZpIskW1Tuvc-unsplash_uolarn.jpg);
}
main {
    
    width: 500px;
    min-height: 500px;
    background-color:transparent;
    
    text-align: center;
    margin: auto;
    padding: 10px;
    

}
main > div {
    
    margin: 10px;
    background-color:yellowgreen;
    padding: 2px;
    border-radius: 6px;

    
}
footer {
    
    color: aliceblue;
    text-align: end;
}